ErrorDocument 404 /404/
<IfModule mod_rewrite.c>
	RewriteEngine On
    RewriteBase /
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\.php\ HTTP/
	RewriteRule ^(.*)index\.php$ /$1 [R=301,L]
	RewriteCond %{REQUEST_URI} !\.[^./]+$
	RewriteCond %{REQUEST_URI} !(.*)/$
	RewriteRule ^(.*)$ /$1/ [R=301,L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} (.*)/$
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
<FilesMatch "\.(ttf|otf|eot|woff)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "http://testsite/"
    </IfModule>
</FilesMatch>


